
<div class="main-content">

  <div class="new-button">
    <button (click)="newTodo()" mat-fab color="primary">+</button>
  </div>

  <div class="new-todo-input" *ngIf="newTodoInput">
    <mat-form-field class="example-full-width">
      <input #inputTodo matInput placeholder="New todo title" value="">
    </mat-form-field>
    <button (click)="addTodo(inputTodo.value)" mat-button color="primary">add</button>
  </div>

  <div class="items-list">
    <mat-accordion>
      <ng-container *ngFor="let todo of todos; let index = index">
        <mat-expansion-panel (closed)="panelClosed(index)" (opened)="fetchItems(todo.id)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <ng-container *ngIf="!updatableTodo[index]">{{todo.title}}</ng-container>
                <input
                  [(ngModel)]="todo.title"
                  (click)="$event.stopPropagation()"
                  *ngIf="updatableTodo[index]">
              <button
                class="save-button"
                *ngIf="updatableTodo[index]"
                (click)="saveTodo(todo, index); $event.stopPropagation()" mat-button color="accent">save</button>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div *ngFor="let item of todo.items">
            <mat-checkbox
              [checked]="item.done"
              [class.done]="item.done"
              (change)="itemChanged(item)">{{item.name}}</mat-checkbox>
            <button (click)="deleteItem(item)" mat-button class="item-delete-button">delete</button>
          </div>

          <div class="new-button">
            <button (click)="newItem(index)" mat-mini-fab color="accent">+</button>
          </div>
          <div class="new-todo-input" *ngIf="newItemInput[index]">
            <mat-form-field>
              <input #inputItem matInput placeholder="New item name" value="">
            </mat-form-field>
            <button (click)="addItem(inputItem.value, todo.id)" mat-button color="primary">add</button>
          </div>

          <mat-action-row>
            <button mat-button color="primary" (click)="updateTodo(index)">edit</button>
            <button mat-button color="warn" (click)="deleteTodo(todo)">delete</button>
          </mat-action-row>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </div>
</div>
